* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    min-height: 100vh;
    background: whitesmoke;
}
form {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background: whitesmoke;
    padding: 6px 20px;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 10px black;
    z-index: 1000;
}
input {
    border: 1px solid rgb(129, 186, 233);
    background: rgb(93, 213, 243);
    color: rgb(38, 65, 62);
    outline: none;
    border-radius: 5px;
    height: 30px;
    margin: 10px 0 5px;
    width: 270px;
    font-size: 1.2rem;
    transition: 0.2s;

}
input:focus {
    border: 1px solid turquoise;
}
#mealContainer {

    padding-top: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#mealContainer > div {
    flex: 1 0 20%;
    min-width: 280px;
    max-width: 450px;
    background: white;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 20px 200px;
    box-shadow: 0 1px 10px black;
    position: relative;
}
h2 {
    margin: 6px auto;
    color: rgb(49, 189, 175);
}
h4 {
    color: rgb(15, 61, 57); 
}
img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    margin: 10px 0;
    box-shadow: 0 1px 10px black;
}
li {
    text-align: left;
}
iframe {
    width: 70%;
    height: 150px;
    margin: 10px 0;
    border-radius: 10px;
    position: absolute;
    bottom: 26px;
    left: 50%;
    transform: translateX(-50%);
}